article {
    padding: 1rem;
    color: #25113d;
    background-color: #FFE4E1;
    overflow: auto;
  }
  
  h2 {
    margin: 0;
  }
  
  time {
    color: #3c2c50;
  }
  
  .actions {
    text-align: right;
    margin: 0;
  }
  
  .actions button {
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #fbe2f9;
    color: #000000;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 1px 3px rgba(104, 143, 226, 0.3);
    transition: all 0.3s ease;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #f9ced9;
    box-shadow: 0 1px 6px rgba(245, 203, 203, 0.3);
  }